body {
   background-color: #222;
}

#joystick-zone {
  position: fixed;
  bottom: 12vh;
  right: 35vw;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(0,0,0,0.2);
  touch-action: none;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#joystick-zone:hover {
  background: rgba(0,0,0,0.5);
}